:root {
    --back-color: #080C25;
    --blue-color: #161E35;
    --medium-color: #293659;
    --active-color: #3071E7;
    --hover-color: #A6B2EC;
}
/* Брал цветовую гамму отсюда -> https://cliffe.ru/res/8_dark_color_schemes/ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--back-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer {
    background-color: var(--footer-color);
    width: 100vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > .text {
    color: black;
    font-size: 2vmin;
}

img {
    max-height: 2vmin;
}
