@font-face {
    font-family: 'Sofia Sans';
    src: url('../fonts/Sofia_Sans/static/SofiaSans-Bold.ttf') format('truetype');
}

:root {
    --back-color: #080C25;
    --blue-color: #161E35;
    --medium-color: #293659;
    --active-color: #3071E7;
    --hover-color: #A6B2EC;
    --footer-color: #a8a8a8;
    --color-2: #7C7C7C;
    --color-4: #ffd8bb;
    --color-8: #7396ed;
    --color-16: #A68800;
    --color-32: #edd073;
    --color-64: #269926;
    --color-128: #8BB42D;
    --color-256: #BF3030;
    --color-512: #6949D7;
    --color-1024: #FF7373;
    --color-2048: #39E639;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    background-color: var(--back-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    flex-grow: 1; /* Растягиваем wrapper, чтобы заполнить оставшееся пространство */
}

.rules {
    width: 20vmin;
    position: fixed;
    top: 20vmin;
    left: 1vmin;
}

.leaderboard {
    width: 20vmin;
    position: fixed;
    top: 20vmin;
    right: 1vmin;
}

h2 {
    font-family: "Sofia Sans", serif;
    font-size: 4vmin;
    color: var(--active-color);
    text-align: right;
}

.scores {
    font-family: "Sofia Sans", serif;
    font-size: 4vmin;
    color: var(--hover-color);
    text-align: right;
}

/*.rules__table {*/
/*    !*list-style: square;*!*/
/*    list-style-type: none;*/
/*    padding-left: 0;*/
/*}*/

/*.rules__table > li::before {*/
/*    content: "¬";*/
/*    margin-right: 1vmin;*/
/*}*/

.mini-text{
    font-family: "Sofia Sans", serif;
    font-size: 2vmin;
    color: antiquewhite;
}

.bold {
    font-size: 3vmin;
    color: var(--active-color);
}

#menu {
    height: 20vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-family: "Sofia Sans", serif;
    font-size: 5vmin;
    color: antiquewhite;
}

.left-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.right-zone > * {
    margin-bottom: 2vmin;
}

button {
    background-color: var(--medium-color);
    border: 1px solid #7C7C7C;
    border-radius: 1vmin;
    padding: .4vmin;
    color: antiquewhite;
    transition: 1s;
}

button:hover {
    background-color: var(--hover-color);
    transition: 1s;
    cursor: pointer;
}

#game-board {
    --cell-size: 17vmin;
    --cell-gap: 2vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.cell {
    background-color: var(--medium-color);
    border-radius: 1vmin;
}

.tile {
    --x: 0;
    --y: 0;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    font-family: "Sofia Sans", serif;
    font-weight: bold;
    font-size: 10vmin;
    background-color: var(--color-4);
    transition: .1s;
    animation: spawn;
}

footer {
    background-color: var(--footer-color);
    width: 100vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > .text {
    color: black;
    font-size: 2vmin;
}

img {
    max-height: 2vmin;
}

@keyframes spawn {
    0% {
        opacity: 0.2;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opacityOnOff {
    0% {
        opacity: 1;
        transition: 1s;
    }
    100% {
        opacity: 0;
        transition: 1s;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content > .text {
    color: var(--back-color);
}

#ok-button, #lose-button {
    background: var(--blue-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#ok-button:hover, #lose-button:hover {
    background: var(--hover-color);
}
